*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 6fr 2fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}
header{grid-area: header;}
main{grid-area: main;}
footer{grid-area: footer;}

.navegador{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 100%;
    & p{
        padding: .5rem;
        color: #eee;
        background-color: rgba(52, 131, 250, 0.9);
        text-align: center;
    }
    & .nav-buscador{
        display: flex;
        gap: 1.75rem;
        background-color: #3483fa;
        & .menu-burger-icono{
           width: 35px;
           filter: invert(100%);
           padding-top: 2.35rem;
        }
        & .logo-cebra{
            width: 200px;  
        }
        & .nav-desplegable{
            display: flex;
            padding-top: 2rem;
            & li{
                padding: 1.4rem;
                font-weight: bold;
                font-size: 13px;
                & a{
                    color: #eee;
                }
            }
        } 
        & .busqueda{
            display: flex;
            padding-top: 3rem;
            padding-left: 7rem;
            gap: 1.5rem;
            & .input{
                height: 30px;
                width: 200px;
                border-radius: .5rem;
            }
            & .iconos{
                width: 35px;
            }
        } 
    }   
}

.slider{
    width: 100%;
    height:auto;
    overflow: hidden;
    & ul{
        display: flex;
        padding: 0;
        width: 400%;
        animation: slide 16s infinite alternate;
        & li{
            width: 100%;
            & img{
                width: 100%;
                height: 450px;
            }
        }
    }
}
@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}

.subtitle{
    color: #3483fa;
    text-align: center;
    padding: 2rem;
    font-size: 25px;
}
.section-edades{
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  & .div-edades{
    width: 290px;
    height: 400px;
    & img{
        width: 100%;
        height: 100%;
    }
    & p{
       background-color: #3483fa;
       color: #eee;
       text-align: center;
       font-weight: bold;
    }
  }
}
